# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
venv/
.venv/
env/

# PyCharm
.idea/
*.iml
# Environment variables
.env

# Logs
*.log
*.err

# Frontend
web/node_modules/
web/dist/
.npm-cache
web/.npm-cache

# OS
.DS_Store
Thumbs.db
