--extra-index-url https://download.pytorch.org/whl/cu130

chromadb==1.5.9
numpy==2.2.6
peewee==4.0.5
pymysql==1.2.0
python-dotenv==1.2.2
sentence-transformers==5.5.1
sentencepiece==0.2.1
torch==2.12.0+cu130
transformers==5.9.0
